__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.log

venv/

db.sqlite3

*.log
*.pot
*.pyc
*.mo
staticfiles/
media/

node_modules/
dist/
.npm/
.cache/
.nuxt/
*.log

package-lock.json
yarn.lock
pnpm-lock.yaml

.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

.vscode/
.idea/
*.swp
*.swo